body {
    font-family: Arial, sans-serif;
    background-color: rgba(33,37,41,1);
    color: #333;
    margin: 0;
    padding: 0;
}
.details-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://wallpaperaccess.com/full/2975527.jpg') no-repeat center bottom;
    background-size: cover;
    z-index: -1; /* Places the background behind the main content */
}

.main{
    min-height:83vh;
}

.details-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    overflow-y: scroll;
    max-height: 87vh;
}

    .details-card h2 {
        color: #4a4a4a;
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 20px;
    }

.details-section {
    margin-bottom: 20px;
}

    .details-section h3 {
        color: #ff6347;
        font-size: 1.5rem;
        margin-bottom: 10px;
        border-bottom: 2px solid #ffebcd;
        padding-bottom: 5px;
    }

    .details-section p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #333;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 5px;
    }

.details-actions {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.btn-edit {
    background-color: #ff6347;
    color: #fff;
}

.btn-back {
    background-color: #4a90e2;
    color: #fff;
}

.btn-edit:hover {
    background-color: #ff4500;
}

.btn-back:hover {
    background-color: #357abf;
}
