/* SharedRecipeStyle.css */

body {
    background-color: #2b2720;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #ffebcd;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: bold;
}

.main {
    border-top: 2px solid #ffebcd;
    background-color: rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    min-height: 85vh;
    position: relative;
}

    .main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://wallpaperaccess.com/full/2975527.jpg') no-repeat center bottom;
        background-size: cover;
        z-index: -1;
    }

.butn,
.btn,
input[type="submit"] {
    text-decoration: none;
    background-color: #ffebcd;
    color: #2b2720;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    display: inline-block;
}

    .butn:hover,
    .btn:hover,
    input[type="submit"]:hover {
        background-color: #ffebef;
        color: #2b2720;
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), 0 -4px 10px -2px rgba(255, 140, 0, 0.5), -3px -5px 12px -3px rgba(255, 200, 0, 0.4), 3px -7px 15px -3px rgba(255, 255, 0, 0.3);
        animation: flameGlow 0.6s infinite alternate-reverse;
    }

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
}

.recipe-card,
.details-card {
    display: flex;
    flex-direction: column;
    background-color: #f5f5dc;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 500px;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    position: relative;
}

    .recipe-card:hover,
    .details-card:hover {
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), 0 -4px 10px -2px rgba(255, 140, 0, 0.5), -3px -5px 12px -3px rgba(255, 200, 0, 0.4), 3px -7px 15px -3px rgba(255, 255, 0, 0.3);
        animation: flameGlow 0.6s infinite alternate-reverse;
    }

.recipe-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-word;
    max-height: 3.6em;
    line-height: 1.8em;
}

.recipe-card-date {
    color: #6c757d;
    font-size: 1rem;
    text-align: center;
}

.recipe-card-actions a {
    margin-right: 5px;
    height: 50px;
    width: 120px;
    font-size: 1rem;
    font-weight: bold;
}

.details-section h3 {
    color: #ff6347;
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffebcd;
    padding-bottom: 5px;
}

.details-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.form_horizontal {
    background-color: burlywood;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    max-width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form_group {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #2b2720;
    display: flex;
    flex-direction: column;
}

    .form_group label {
        margin-bottom: 0.5rem;
        font-weight: bold;
    }

textarea,
input[type="text"] {
    all: unset;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    color: black;
    resize: vertical;
    overflow-wrap: break-word;
}

textarea {
    height: 200px;
}

.validation-message {
    color: red;
    font-size: 1rem;
}

@keyframes flameGlow {
    0% {
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), 0 -4px 10px -2px rgba(255, 140, 0, 0.5), -3px -5px 12px -3px rgba(255, 200, 0, 0.4), 3px -7px 15px -3px rgba(255, 255, 0, 0.3);
    }

    100% {
        box-shadow: 0 -6px 12px -2px rgba(255, 85, 0, 0.7), 0 -8px 16px -3px rgba(255, 140, 0, 0.6), -3px -8px 18px -3px rgba(255, 200, 0, 0.5), 3px -10px 20px -3px rgba(255, 255, 0, 0.4);
    }
}
