
/* Background for the whole body */
body {
    background-color: #2b2720;
}

.main {
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid #ffebcd;
    max-width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    min-height: 85vh;
}
    .main::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('background.png') no-repeat center bottom;
        background-size: cover;
        z-index: -1; /* Places the background behind the main content */
    }

h2 {
    text-align: center;
    color: beige;
    margin-bottom: 20px;
}


.butn {
    text-decoration: none;
    background-color: beige;
    color: #333;
    border: none;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Full width for submit button */
    margin-top: 10px;
}

    .butn:hover {
        background-color: #ffebef;
        color: #333;
        
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), /* Top center flame flicker */
        0 -4px 10px -2px rgba(255, 140, 0, 0.5), /* Higher middle flame */
        -3px -5px 12px -3px rgba(255, 200, 0, 0.4), /* Sideways flicker */
        3px -7px 15px -3px rgba(255, 255, 0, 0.3); /* Side glow */
        animation: flameGlow 0.6s infinite alternate-reverse;
    }

/* Container for cards */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between cards */
    justify-content: center;
    align-items: center;
    max-height:70vh;
    overflow-y: auto;
}

/* Individual recipe card styling */
.recipe-card {
    display: flex;
    flex-direction: column;
    background-color: beige;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 394px;
    height: fit-content;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

    .recipe-card:hover {
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), /* Top center flame flicker */
        0 -4px 10px -2px rgba(255, 140, 0, 0.5), /* Higher middle flame */
        -3px -5px 12px -3px rgba(255, 200, 0, 0.4), /* Sideways flicker */
        3px -7px 15px -3px rgba(255, 255, 0, 0.3); /* Side glow */
        animation: flameGlow 0.6s infinite alternate-reverse;
    }

.recipe-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all; /* Breaks long words to prevent overflow */
    max-height: 3.6em;
    line-height: 1.8em;
}


.recipe-card-date {
    color: #6c757d;
    font-size: 1rem;
}

.recipe-card-actions a {
    margin-right: 5px;
    height: 50px;
    width: 106px;
    font-size: 30px;
    font-weight: bold;
}




@keyframes flameGlow {
    0% {
        box-shadow: 0 -2px 8px -2px rgba(255, 85, 0, 0.6), 0 -4px 10px -2px rgba(255, 140, 0, 0.5), -3px -5px 12px -3px rgba(255, 200, 0, 0.4), 3px -7px 15px -3px rgba(255, 255, 0, 0.3);
    }

    100% {
        box-shadow: 0 -6px 12px -2px rgba(255, 85, 0, 0.7), 0 -8px 16px -3px rgba(255, 140, 0, 0.6), -3px -8px 18px -3px rgba(255, 200, 0, 0.5), 3px -10px 20px -3px rgba(255, 255, 0, 0.4);
    }
}